<mat-card appearance="outlined">
  
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Usuário</mat-label>
      <input type="email" matInput placeholder="Digite seu e-mail" />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Senha</mat-label>
      <input type="password" matInput placeholder="Digite sua senha" value="">
    </mat-form-field>
    <div class="register-btn">
      <button mat-fab extended>
        <mat-icon>tv_signin</mat-icon>
        Entrar
      </button>
    </div>
    <div class="login-btn">
      <button mat-fab extended>
        <mat-icon>login</mat-icon>
        Entrar
      </button>
    </div>
  </form>

</mat-card>