<mat-card appearance="outlined">
  <mat-card-content>Acesse o Weblog</mat-card-content>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Usuário</mat-label>
      <input type="email" matInput placeholder="Digite seu e-mail" />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Senha</mat-label>
      <input type="password" matInput placeholder="Digite sua senha" value="">
    </mat-form-field>
    <div class="example-button-container">
      <button mat-fab extended>
        <mat-icon>login</mat-icon>
        Entrar
      </button>
    </div>
  </form>

</mat-card>